# Dependencies
node_modules/
.pnpm-store/

# Build & Dist Outputs
dist/
build/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
*.pem

# Logs
*.log
npm-debug.log*

# System & OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/